body {
    background-image: url('./images/farm_unsplash.jpg');
    background-size: 1540px 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

#display_image {
    width: 256px;
    height: 256px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-color: white;
}

#display_result {
    padding: 5px 5px 5px 5px;
    width: 255px;
    height: 100px;
    text-align: center;
    background-color: darkkhaki;
}

#disease_type,
#confidence {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#file-button {
    height: 40px;
    width: 400px;
}